In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
sale = pd.read_csv("sales_with_customer_id.csv")

C:\Users\aggar\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3308: DtypeWarning: Columns (1,15,16,34,36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
master = pd.read_csv("Master_table.csv")

In [4]:
sale.columns

Index(['_Date', 'Order_ID', 'Invoice', 'Portal', 'Style', 'SKU', 'Qty',
       'Unit_Price', 'Currency', 'conversion_rate', 'Amount', 'Customer_Name',
       'City', 'State', 'Shipping_Address_Country', 'Shipping_Address_Pincode',
       'Shipping_Address_Phone', 'Shipping_Provider', 'Sales', 'Sales_Ledger',
       'CGST_Rate', 'SGST_Rate', 'IGST_Rate', 'UTGST_Rate', 'CESS_Rate',
       'Other_charges', 'Other_charges_Ledger', 'Discount_Amount', 'Godown',
       'Dispatch_Date_Cancellation_Date', 'Narration', 'Entity',
       'Voucher_Type_Name', 'Original_Invoice_Date', 'Original_Sale_No',
       'Channel_Invoice_Created', 'Channel_Party_GSTIN', 'Billing_Party_Code',
       'Tax_Verification', 'GST_Registration_Type', 'Customer ID'],
      dtype='object')

In [5]:
master.columns

Index(['_SKU_Code', 'Design_No_', 'Stock', 'Category', 'Size', 'Color'], dtype='object')

In [6]:
master.head()

       _SKU_Code Design_No_  Stock       Category Size Color
0  AN201-RED-XXL      AN201      3  AN : LEGGINGS  XXL   Red
1    AN201-RED-L      AN201      5  AN : LEGGINGS    L   Red
2    AN201-RED-M      AN201      5  AN : LEGGINGS    M   Red
3    AN201-RED-S      AN201      3  AN : LEGGINGS    S   Red
4   AN201-RED-XL      AN201      6  AN : LEGGINGS   XL   Red

In [7]:
sale.head()

,_Date,Order_ID,Invoice,Portal,Style,SKU,Qty,Unit_Price,Currency,conversion_rate,...,Entity,Voucher_Type_Name,Original_Invoice_Date,Original_Sale_No,Channel_Invoice_Created,Channel_Party_GSTIN,Billing_Party_Code,Tax_Verification,GST_Registration_Type,Customer ID
0,02-04-2022,404-9365790-8203566,IN-27,Amazon TBS,JNE3686,JNE3686-TU-XXL,1,424.76,INR,1.0,...,NEW_INVOICE,Sales,02-04-2022,404-9365790-8203566,01-04-2022 05:30,24AAKFT0982E1Z6,prabhat,1,Consumer,7305
1,02-04-2022,402-0670618-4837911,IN-35,Amazon TBS,JNE3670,JNE3670-TU-XS,1,380.00,INR,1.0,...,NEW_INVOICE,Sales,02-04-2022,402-0670618-4837911,01-04-2022 05:30,24AAKFT0982E1Z6,prabhat,1,Consumer,43100
2,02-04-2022,403-0895877-7397109,IN-46,Amazon TBS,JNE3797,JNE3797-KR-L,1,680.96,INR,1.0,...,NEW_INVOICE,Sales,02-04-2022,403-0895877-7397109,01-04-2022 05:30,24AAKFT0982E1Z6,prabhat,1,Consumer,56765
3,02-04-2022,171-0515508-9326733,IN-119,Amazon TBS,J0117,J0117-TP-XXXL,1,475.24,INR,1.0,...,NEW_INVOICE,Sales,02-04-2022,171-0515508-9326733,01-04-2022 05:30,24AAKFT0982E1Z6,prabhat,1,Consumer,95449
4,02-04-2022,402-3010573-2461150,IN-128,Amazon TBS,SET110,SET110-KR-PP-S,1,694.28,INR,1.0,...,NEW_INVOICE,Sales,02-04-2022,402-3010573-2461150,01-04-2022 05:30,24AAKFT0982E1Z6,prabhat,1,Consumer,26758

In [8]:
master = master.rename(columns={'_SKU_Code':'SKU'})

In [9]:
sale_master = pd.merge(sale, master, how="left", on="SKU")

In [10]:
# Create CustomerID vs Item (Purchased Items, by StockCode) matrix by pivot table function.
CustomerID_Item_matrix = sale_master.pivot_table(
    index='Customer ID', 
    columns='SKU', 
    values='Qty',
    aggfunc='sum'
)

MemoryError: Unable to allocate 6.47 GiB for an array with shape (100557, 8642) and data type float64